html,
body {
    color: #555b6e;
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.main {
    background: rgba(134, 147, 171, 0.1);
    margin-top: 60px;
    padding-top: 10px;
}

a {
  text-decoration: none;
  color: #555b6e; 
  display: block;
}
.root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    flex: 1;
}

.text-center {
    text-align: center;
}

.add-btn {
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    margin-bottom: 40px;
    position: fixed;
    right: 0;
    z-index: 2;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.flex-end {
    justify-content: flex-end;
}